DATABASE_URL="postgresql://neondb_owner:npg_awn3UsztmDl1@ep-bold-lake-adbsmvfz-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="change-secret-in-real-production"
PORT=3001
